altgraph==0.17.4
colorama==0.4.6
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==24.2
pefile==2023.2.7
pluggy==1.5.0
Pygments==2.19.1
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pytest==8.3.4
pywin32-ctypes==0.2.3
PyYAML==6.0.2
rich==13.9.4
setuptools==75.8.0
tqdm==4.67.1
typing_extensions==4.12.2
